# Byte-compiled / optimized / DLL files
__pycache__/
outputs/
*.py[cod]
*$py.class
.idea/
*.pyc
*.tar
.DS_Store
*.mp4
*.mpg
vsr_trlrwlrs2lrs3vox2avsp_base.pth
vsr_trlrs3vox2_base.pth
vsr_trlrs3_base.pth
fairseq/
